body{margin: 0;
    padding: 0;
    background-image: url("./imagenes/piltover-zindeloruneterra.jpg");
    background-size: cover;
    color: #ADD8E6;
}
.p1{text-transform: uppercase;
    font-weight: 800;}