{% extends "base.html" %}
{% block title %}Foro{% endblock %}
{% block head %}
    <style>
        div.Peli{
            padding-left: 30%;
        }
    </style>
{{super()}}
{% endblock %}
{% block body %}
    <div class="Peli">
        <form action="" method="POST" class="form-box animate__animated animate__fadeInUp" >
            <input type="text" placeholder="Titulo" name="titulo">
            <input type="password" placeholder="Comentario" name="comentario">
            <button type="Publicar">
                Publicar
            </button>
        </form>
    </div>
    <div >{%for datos in datos%}
        <div>
            <h3>Usuario: {{datos[0]}}</h3>
        </div>
        <div>
            <h4>Titulo: {{datos[1]}}</h4>
        </div>
        <div>
            <h4>Comentario: {{datos[2]}}</h4>
        </div>
    </div>{% endfor %}
    
{% endblock %}
