<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset = "UTF-8">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv = "X-UA-Compatible" content="ie=edge">
    <title>MENU</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./static/menu.css">
</head>
<body>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Wiki Lol</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Foro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/memes">Memes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/personajes">Personajes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/lore">Lore</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Acerca de</a>
          </li>

                
          <li class="nav-item">
            <a class="nav-link" href="/login">Sign In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="registro.html">Registrar</a>
          </li>

         

        
        </ul>
      </div>
    </div>
  </nav>
  
  <header>
  
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-target="#carouselExampleCaptions" data-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-target="#carouselExampleCaptions" data-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-target="#carouselExampleCaptions" data-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-target="#carouselExampleCaptions" data-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-target="#carouselExampleCaptions" data-slide-to="4" aria-label="Slide 5"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" style="background-image: url('./static/imagenes/jojosett.jpg')">
          <div class="carousel-caption">
            <h5><a href ="sett.html">Sett uwu</a></h5>
            <p>No vas a creer que la cantidad de panes que come.</p>
          </div>
        </div>
        <div class="carousel-item" style="background-image: url('./static/imagenes/jhin2.jpg')">
          <div class="carousel-caption">
            <h5><a href ="jhin.html">Jhin</a></h5>
            <p>Descubre su pasatiempos favorito.</p>
          </div>
        </div>
        <div class="carousel-item" style="background-image: url('./static/imagenes/pykeamogus.webp')">
          <div class="carousel-caption">
            <h5><a href ="Pyke.html">Pyke</a></h5>
            <p>Ayudame.</p>
          </div>
        </div>
        <div class="carousel-item" style="background-image: url('./static/imagenes/mordekulon.webp')">
          <div class="carousel-caption">
            <h5><a href ="Mordekaiser.html">Mordekaiser</a></h5>
            <p>El culo de hierro.</p>
          </div>
        </div>
          <div class="carousel-item" style="background-image: url('./static/imagenes/seraphine.webp')">
            <div class="carousel-caption">
              <h5><a href ="Seraphine.html">Seraphine</a></h5>
              <p>社会信用+1000</p>
            </div>
          </div>
      </div>
      <button class="carousel-control-prev" type="button" data-target="#carouselExampleCaptions" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-target="#carouselExampleCaptions" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </header>
  
  <!-- Page Content -->
  <section class="py-5">
    <div class="container">
      <h1 class="fw-light">Bienvenido a la super mega extravagante maravillosa wiki del peor juego de todos los tiempos, League of Legends.</h1>
      <p class="lead">Encontraras toda la informacion de los campeones que no necesitabas saber. Cuidadosamente redactada por nuestro propio
        runaterrologo. </p>
    </div>
  </section>

  <!--Section: Contact v.2-->
  <section class="mb-4">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Contactanos</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">Tienes preguntas? Nuestro runaterrologo se peleara con usted en minutos despues de ponerse
        en contacto.</p>

    <div class="row">

        <!--Grid column-->
        <div class="col-md-8 mb-md-0 mb-5">
            <form id="contact-form" name="contact-form" action="mail.php" method="POST">

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-5">
                        <div class="md-form mb-0">
                            <input type="text" id="name" name="name" class="form-control">
                            <label for="name" class="">Su nombre</label>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="email" name="email" class="form-control">
                            <label for="email" class="">Su correo electronico</label>
                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <input type="text" id="subject" name="subject" class="form-control">
                            <label for="subject" class="">Asunto</label>
                        </div>
                    </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12">

                        <div class="md-form">
                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                            <label for="message">Su mensaje</label>
                        </div>

                    </div>
                </div>
                <!--Grid row-->

            </form>

            <div class="text-center text-md-left">
                <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Send</a>
            </div>
            <div class="status"></div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="fas fa-map-marker-alt fa-2x"></i>
                    <p>Hermosillo, SON 12345, MX</p>
                </li>

                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                    <p>+52 662 54 79 872</p>
                </li>

                <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p>wikilol@gmail.com</p>
                </li>
            </ul>
        </div>
        <!--Grid column-->

    </div>

</section>
<!--Section: Contact v.2-->



  
 
    
</body>
</html>
<h1> <h1>
