{% extends "base.html" %}
{% block title %}{{datos[5]}}{% endblock %}
{% block head %}
    <style>
        div.Pefil{
            padding-top: 5%;
            padding-left: 25%;
        }
    </style>
{{super()}}
{% endblock %}
{% block body %}
    <div class="Perfil">
        <div>
            <p>{{datos[0]}}</p>
            <p>{{datos[1]}}</p>
            <p>{{datos[2]}}</p>
            <p>{{datos[3]}}</p>
        </div>
        <div>
            <p>{{datos[5]}}</p>
        </div>
        <div>
            <p>{{datos[4]}}</p>
        </div>
    </div>
{% endblock %}
