{% extends "base.html" %}
{% block title %}Qeujas{% endblock %}
{% block head %}
    <style>
        div.form{
            padding-top: 5%;
            padding-left: 38%;
        }
        div.cquejas{
            padding-top: 5%;
            padding-left: 40%;
        }
    </style>
{{super()}}
{% endblock %}
{% block body %}
    <div class="form">
        <form action="" class="form-box animate__animated animate__fadeInUp" method="POST">
            <input type="textBox" placeholder="Queja" name="queja" id="queja">
            <input type="submit" id="enviar" name="enviar" value="Enviar">
        </form>
    </div>
    <div class="cquejas">
        <div >{% for quejas in quejas %}
            <p>Usuario: {{quejas[0]}}</p>
            <p>Queja: {{quejas[1]}}</p>
        </div>{% endfor %}
    </div>
{% endblock %}
